<% provide(:title, 'Airline Ground Handling News | GCG Ground') %>
<% content_for :head do%>
  <meta name="description" content="Keep up with the latest relevant airline ground handling service news from GCG Ground, the Caribbean ground handler of choice!">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<section class="bgGrey">

  <div class="container">
  <%= link_to 'New Blog', new_blog_path, class:"btn btn-primary btnNewBlog" if current_user.try(:admin?)%>

    <% @blogs.each do |blog| %>
    <div class="row">
      
      <div class="col-sm-4 mb15">
        <%= link_to blog_path(blog.title_for_slug) do %> 
          <%= image_tag(blog.images[0].pic.url(:medium), class:'img-responsive imgbig') if blog.images.present?%>
        <% end %>
      </div>
      <div class="col-sm-8">
        <h4><%= link_to blog.title, blog_path(blog.title_for_slug) %></h4>
        <p><%= HTML_Truncator.truncate(blog.content_index, 150).html_safe %></p>
        <div class="mt30 pull-right">
          <%= link_to 'Read More', blog_path(blog.title_for_slug), class:"btn btn-default btnBlog" %>
          <%= link_to 'Edit', edit_blog_path(blog.title_for_slug), class:"btn btn-default btnBlog" if current_user.try(:admin?)%>
          <%= link_to 'Destroy', blog_path(blog.title_for_slug), class:"btn btn-default btnBlog", method: :delete, data: { confirm: 'Are you sure?' } if current_user.try(:admin?) %>
        </div>
      </div>
      <div class="separator"></div>
    </div>
  <% end %>

  </div>
  
</section>