<section class="bgGrey">
  <div class="container">
    <div class="row">
      <h5 class="mb30 text-center">Other Services</h5>
      <div class="col-sm-12">
        <div class="owl-carousel owl-theme">
              
                <div class="item">
                  <div class="col-md-12 colMobile">
              <div class="box-services">
                <div class="wrap-img">
                  <a href="/services-ramp-handling">
                    <img src="https://s3.amazonaws.com/gcg-ground/services/services-ramp.jpg" alt="Airline Ramp Handling services in the Caribbean and Latin America" class="img-responsive center-block"/>
                  </a>
                </div>
                <div class="text">
                  <a href="/services-ramp-handling">
                    <div class="icon">
                      <i class="fa fa-road" aria-hidden="true"></i>
                    </div>
                  </a>
                  <h4><a href="/services-ramp-handling">Ramp Handling</a></h4>
                  <p>Quick turnaround times at a competitive price.</p>
                  <a href="/services-ramp-handling" class="btn">Read more</a>
                </div>
              </div>
            </div>
                </div>
                <div class="item">
                  <div class="col-md-12 colMobile">
              <div class="box-services">
                <div class="wrap-img">
                  <a href="/services-aircraft-cleaning">
                    <img src="https://s3.amazonaws.com/gcg-ground/services/services-aircraft.jpg" alt="Aircraft Cleaning services in the Caribbean and Latin America" class="img-responsive center-block"/>
                  </a>
                </div>
                <div class="text green">
                  <a href="/services-aircraft-cleaning">
                    <div class="icon">
                      <i class="fa fa-plane" aria-hidden="true"></i>
                    </div>
                  </a>
                  <h4><a href="/services-aircraft-cleaning">Aircraft Cleaning</a></h4>
                  <p>Delivering an immaculate aircraft with efficiency.</p>
                  <a href="/services-aircraft-cleaning" class="btn">Read more</a>
                </div>
              </div>
            </div>
                </div>
                <div class="item">
            <div class="col-md-12 colMobile">
              <div class="box-services">
                <div class="wrap-img">
                  <a href="/services-passenger-services">
                    <img src="https://s3.amazonaws.com/gcg-ground/services/services-passenger.jpg" alt="Aircraft Cleaning services in the Caribbean and Latin America" class="img-responsive center-block"/>
                  </a>
                </div>
                <div class="text">
                  <a href="/services-passenger-services">
                    <div class="icon">
                      <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                  </a>
                  <h4><a href="/services-passenger-services">Passenger Services</a></h4>
                  <p>Ensuring passenger satisfaction, every time.</p>
                  <a href="/services-passenger-services" class="btn">Read more</a>
                </div>
              </div>
            </div>
                </div>
                <div class="item">
            <div class="col-md-12 colMobile">
              <div class="box-services">
                <div class="wrap-img">
                  <a href="/services-ground-support">
                    <img src="https://s3.amazonaws.com/gcg-ground/services/services-ground.jpg" alt="Airline Ground Support services in the Caribbean and Latin America" class="img-responsive center-block"/>
                  </a>
                </div>
                <div class="text green">
                  <a href="/services-ground-support">
                    <div class="icon">
                      <i class="fa fa-universal-access" aria-hidden="true"></i>
                    </div>
                  </a>
                  <h4><a href="/services-ground-support">Ground Support</a></h4>
                  <p>Promising innovative, safe and high quality service.</p>
                  <a href="/services-ground-support" class="btn">Read more</a>
                </div>
              </div>
            </div>
                </div>
                <div class="item">
            <div class="col-md-12 colMobile">
              <div class="box-services">
                <div class="wrap-img">
                  <a href="/services-cargo-handling">
                    <img src="https://s3.amazonaws.com/gcg-ground/services/services-cargo.jpg" alt="Airline Cargo Support services in the Caribbean and Latin America" class="img-responsive center-block"/>
                  </a>
                </div>
                <div class="text">
                  <a href="/services-cargo-handling">
                    <div class="icon">
                      <i class="fa fa-truck" aria-hidden="true"></i>
                    </div>
                  </a>
                  <h4><a href="/services-cargo-handling">Cargo Support</a></h4>
                  <p>All shipments handled efficiently and with care.</p>
                  <a href="/services-cargo-handling" class="btn">Read more</a>
                </div>
              </div>
            </div>
                </div>
                <div class="item">
            <div class="col-md-12 colMobile">
              <div class="box-services">
                <div class="wrap-img">
                  <a href="/services-baggage-services">
                    <img src="https://s3.amazonaws.com/gcg-ground/services/services-baggage.jpg" alt="Airline Baggage Services in the Caribbean and Latin America" class="img-responsive center-block"/>
                  </a>
                </div>
                <div class="text green">
                  <a href="/services-baggage-services">
                    <div class="icon">
                      <i class="fa fa-suitcase" aria-hidden="true"></i>
                    </div>
                  </a>
                  <h4><a href="/services-baggage-services">Baggage Services</a></h4>
                  <p>Connecting your passengers with their luggage.</p>
                  <a href="/services-baggage-services" class="btn">Read more</a>
                </div>
              </div>
            </div>
                </div>
                <div class="item">
            <div class="col-md-12 colMobile">
              <div class="box-services">
                <div class="wrap-img">
                  <a href="/services-janitorial-services">
                    <img src="https://s3.amazonaws.com/gcg-ground/services/services-janitorial.jpg" alt="GCG offers Aircraft Janitorial Services in the Caribbean and Latin America" class="img-responsive center-block"/>
                  </a>
                </div>
                <div class="text green">
                  <a href="/services-janitorial-services">
                    <div class="icon">
                      <i class="fa fa-recycle" aria-hidden="true"></i>
                    </div>
                  </a>
                  <h4><a href="/services-janitorial-services">Janitorial Services</a></h4>
                  <p>From airports to airplanes, cleanliness is guaranteed.</p>
                  <a href="/services-janitorial-services" class="btn">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>