<section class="bgGreen">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Where we are</h1>
        <p class="mb80">The GCG Ground team is based in three airports in the Caribbean, where they offer a diverse selection of ground handling services to a wide range of airline clients.</p>
        <div class="col-sm-6">
          <div class="row infographic">
            <a href="/locations/<%= @locations.first.title_for_slug %>">
              <div class="myinfobox">
                <h3><%= @locations.first.name %> (Headquarters)</h3>
                
                <div class="col-xs-1" style="padding-left: 5px;">
                  <p><i class="fa fa-map-marker fa-lg"></i></p>
                </div>
                <div class="col-xs-11" style="padding-left: 2px;">
                  <p>
                    <%= @locations.first.address  %>
                  </p>
                </div>

                <div class="col-xs-1" style="padding-left: 5px;">
                  <p><i class="fa fa-phone fa-lg"></i>
                </div>
                <div class="col-xs-11" style="padding-left: 2px;">
                  <p><%= @locations.first.phone %></p>
                </div>

                <div class="col-xs-1" style="padding-left: 5px;">
                  <p><i class="fa fa-user fa-lg"></i>
                </div>
                <div class="col-xs-11" style="padding-left: 2px;"> 
                  <p>
                    <span class="main_name"><%= @locations.first.profiles.first.full_name %></span>  <br> 
                    <span class="main_title"><%= @locations.first.profiles.first.title %></span>
                    <span class="noshowmobile"> 
                    <br>
                    <span class="secondary_name"><%= @locations.first.profiles.second.full_name %></span>  <br> 
                    <span class="secondary_title"><%= @locations.first.profiles.second.title %></span> 
                    <br>
                    <span class="secondary_name"><%= @locations.first.profiles.third.full_name if @locations.first.profiles.third.present? %></span>  <br> 
                    <span class="secondary_title"><%= @locations.first.profiles.third.title if @locations.first.profiles.third.present?%></span>
                    </span> 
                  </p>
                </div>

                <div class="col-xs-1" style="padding-left: 5px;">
                  <p><i class="fa fa-plane fa-lg"></i>
                </div>
                <div class="col-xs-11" style="padding-left: 2px;">
                  <p>Airport Code: <%= @locations.first.airportcode %></p>
                </div>

              </div>
              <img src="https://s3.amazonaws.com/gcg-ground/general/infographic_florida1.jpg" class="img-responsive center-block mb2"/>
            </a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row infographic">
            <a href="/locations/<%= @locations.second.title_for_slug %>">
              <div class="myinfobox infoboxright">
                <h3><%= @locations.second.name %></h3>
                
                <div class="col-xs-1" style="padding-left: 5px;">
                  <p><i class="fa fa-map-marker fa-lg"></i></p>
                </div>
                <div class="col-xs-11" style="padding-left: 2px;">
                  <p>
                    <%= @locations.second.address  %>
                  </p>
                </div>

                <div class="col-xs-1" style="padding-left: 5px;">
                  <p><i class="fa fa-phone fa-lg"></i>
                </div>
                <div class="col-xs-11" style="padding-left: 2px;">
                  <p><%= @locations.second.phone %></p>
                </div>

                <div class="col-xs-1" style="padding-left: 5px;">
                  <p><i class="fa fa-user fa-lg"></i>
                </div>
                <div class="col-xs-11" style="padding-left: 2px;"> 
                  <p>
                    <span class="main_name"><%= @locations.second.profiles.first.full_name %></span>  <br> 
                    <span class="main_title"><%= @locations.second.profiles.first.title %></span>
                    <span class="noshowmobile"> 
                    <br>
                    <span class="secondary_name"><%= @locations.second.profiles.second.full_name %></span>  <br> 
                    <span class="secondary_title"><%= @locations.second.profiles.second.title %></span> 
                    <br>
                    <span class="secondary_name"><%= @locations.second.profiles.third.full_name if @locations.second.profiles.third.present? %></span>  <br> 
                    <span class="secondary_title"><%= @locations.second.profiles.third.title if @locations.second.profiles.third.present?%></span>
                    </span> 
                  </p>
                </div>

                <div class="col-xs-1" style="padding-left: 5px;">
                  <p><i class="fa fa-plane fa-lg"></i>
                </div>
                <div class="col-xs-11" style="padding-left: 2px;">
                  <p>Airport Code: <%= @locations.second.airportcode %></p>
                </div>

              </div>
              <img src="https://s3.amazonaws.com/gcg-ground/general/infographic_st_thomas1.jpg" class="img-responsive center-block mb2"/>
            </a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row infographic">
            <a href="/locations/<%= @locations.third.title_for_slug %>">
              <div class="myinfobox">
                <h3><%= @locations.third.name %></h3>
                
                <div class="col-xs-1" style="padding-left: 5px;">
                  <p><i class="fa fa-map-marker fa-lg"></i></p>
                </div>
                <div class="col-xs-11" style="padding-left: 2px;">
                  <p>
                    <%= @locations.third.address  %>
                  </p>
                </div>

                <div class="col-xs-1" style="padding-left: 5px;">
                  <p><i class="fa fa-phone fa-lg"></i>
                </div>
                <div class="col-xs-11" style="padding-left: 2px;">
                  <p><%= @locations.third.phone %></p>
                </div>

                <div class="col-xs-1" style="padding-left: 5px;">
                  <p><i class="fa fa-user fa-lg"></i>
                </div>
                <div class="col-xs-11" style="padding-left: 2px;"> 
                  <p>
                    <span class="main_name"><%= @locations.third.profiles.first.full_name %></span>  <br> 
                    <span class="main_title"><%= @locations.third.profiles.first.title %></span>
                    <span class="noshowmobile"> 
                    <br>
                    <span class="secondary_name"><%= @locations.third.profiles.second.full_name %></span>  <br> 
                    <span class="secondary_title"><%= @locations.third.profiles.second.title %></span> 
                    <br>
                    <span class="secondary_name"><%= @locations.third.profiles.third.full_name if @locations.third.profiles.third.present? %></span>  <br> 
                    <span class="secondary_title"><%= @locations.third.profiles.third.title if @locations.third.profiles.third.present?%></span>
                    </span> 
                  </p>
                </div>

                <div class="col-xs-1" style="padding-left: 5px;">
                  <p><i class="fa fa-plane fa-lg"></i>
                </div>
                <div class="col-xs-11" style="padding-left: 2px;">
                  <p>Airport Code: <%= @locations.third.airportcode %></p>
                </div>

              </div>
              <img src="https://s3.amazonaws.com/gcg-ground/general/infographic_montego-bay1.jpg" class="img-responsive center-block mb2"/>
            </a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row infographic">
            <a href="/locations/<%= @locations.fourth.title_for_slug %>">
              <div class="myinfobox infoboxright">
                <h3><%= @locations.fourth.name %></h3>
                
                <div class="col-xs-1" style="padding-left: 5px;">
                  <p><i class="fa fa-map-marker fa-lg"></i></p>
                </div>
                <div class="col-xs-11" style="padding-left: 2px;">
                  <p>
                    <%= @locations.fourth.address  %>
                  </p>
                </div>

                <div class="col-xs-1" style="padding-left: 5px;">
                  <p><i class="fa fa-phone fa-lg"></i>
                </div>
                <div class="col-xs-11" style="padding-left: 2px;">
                  <p><%= @locations.fourth.phone %></p>
                </div>

                <div class="col-xs-1" style="padding-left: 5px;">
                  <p><i class="fa fa-user fa-lg"></i>
                </div>
                <div class="col-xs-11" style="padding-left: 2px;"> 
                  <p>
                    <span class="main_name"><%= @locations.fourth.profiles.first.full_name %></span>  <br> 
                    <span class="main_title"><%= @locations.fourth.profiles.first.title %></span>
                    <span class="noshowmobile"> 
                    <br>
                    <span class="secondary_name"><%= @locations.fourth.profiles.second.full_name %></span>  <br> 
                    <span class="secondary_title"><%= @locations.fourth.profiles.second.title %></span> 
                    <br>
                    <span class="secondary_name"><%= @locations.fourth.profiles.third.full_name if @locations.fourth.profiles.third.present? %></span>  <br> 
                    <span class="secondary_title"><%= @locations.fourth.profiles.third.title if @locations.fourth.profiles.third.present?%></span>
                    </span> 
                  </p>
                </div>

                <div class="col-xs-1" style="padding-left: 5px;">
                  <p><i class="fa fa-plane fa-lg"></i>
                </div>
                <div class="col-xs-11" style="padding-left: 2px;">
                  <p>Airport Code: <%= @locations.fourth.airportcode %></p>
                </div>

              </div>
              <img src="https://s3.amazonaws.com/gcg-ground/general/infographic_kingston1.jpg" class="img-responsive center-block mb2"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
