<% provide(:title, 'About GCG Ground Handling Services | GCG Ground') %>
<% content_for :head do%>
  <meta name="description" content="GCG Ground is a division of GCG Group, and has provided a full suite of ground handling services to airlines in the Caribbean and latin America since 2009.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<!-- Hero  -->
<section class="hero-about" title="About GCG airline ground handling services in the Carribbean and Latin America"></section>

<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h3 class="mb30">About GCG Ground</h3>
				<p class="mt60">GCG Ground, a division of GCG Group, was established in 2009 to provide a full suite of ground handling services to airlines in the Caribbean and Latin America. The company is guided by its philosophy is to provide personal, safe and efficient experiences to its customers, exceeding expectations in the process. In addition to ramp handling and passenger services, GCG Ground furnishes customized solutions for its clients, handling everything from wheelchairs to baggage. The company employs a thoroughly trained and motivated work force, capable of expertly servicing more than 11,000 flights per year. Its facilities are maintained at the highest international standards, with an emphasis on stringent security and safety procedures.</p>
			</div>
		</div>
	</div>
</section>

<!-- Services  -->
<section class="bg-light-grey">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h5 class="mb60 text-center">Our Services</h5>
			
				<div class="owl-carousel owl-theme">
	            
		            <div class="item">
		              <div class="col-md-12 colMobile">
							<div class="box-services">
								<div class="wrap-img">
									<a href="/services-ramp-handling">
										<img src="https://s3.amazonaws.com/gcg-ground/services/services-ramp.jpg" class="img-responsive center-block"/>
									</a>
								</div>
								<div class="text">
									<a href="/services-ramp-handling">
										<div class="icon">
											<i class="fa fa-road" aria-hidden="true"></i>
										</div>
									</a>
									<h4><a href="/services-ramp-handling">Ramp Handling</a></h4>
									<p>Quick turnaround times at a competitive price.</p>
									<a href="/services-ramp-handling" class="btn">Read more</a>
								</div>
							</div>
						</div>
		            </div>
		            <div class="item">
		            	<div class="col-md-12 colMobile">
							<div class="box-services">
								<div class="wrap-img">
									<a href="/services-aircraft-cleaning">
										<img src="https://s3.amazonaws.com/gcg-ground/services/services-aircraft.jpg" class="img-responsive center-block"/>
									</a>
								</div>
								<div class="text green">
									<a href="/services-aircraft-cleaning">
										<div class="icon">
											<i class="fa fa-plane" aria-hidden="true"></i>
										</div>
									</a>
									<h4><a href="/services-aircraft-cleaning">Aircraft Cleaning</a></h4>
									<p>Delivering an immaculate aircraft with efficiency.</p>
									<a href="/services-aircraft-cleaning" class="btn">Read more</a>
								</div>
							</div>
						</div>
		            </div>
		            <div class="item">
						<div class="col-md-12 colMobile">
							<div class="box-services">
								<div class="wrap-img">
									<a href="/services-passenger-services">
										<img src="https://s3.amazonaws.com/gcg-ground/services/services-passenger.jpg" class="img-responsive center-block"/>
									</a>
								</div>
								<div class="text">
									<a href="/services-passenger-services">
										<div class="icon">
											<i class="fa fa-users" aria-hidden="true"></i>
										</div>
									</a>
									<h4><a href="/services-passenger-services">Passenger Services</a></h4>
									<p>Ensuring passenger satisfaction, every time.</p>
									<a href="/services-passenger-services" class="btn">Read more</a>
								</div>
							</div>
						</div>
		            </div>
		            <div class="item">
						<div class="col-md-12 colMobile">
							<div class="box-services">
								<div class="wrap-img">
									<a href="/services-ground-support">
										<img src="https://s3.amazonaws.com/gcg-ground/services/services-ground.jpg" class="img-responsive center-block"/>
									</a>
								</div>
								<div class="text green">
									<a href="/services-ground-support">
										<div class="icon">
											<i class="fa fa-universal-access" aria-hidden="true"></i>
										</div>
									</a>
									<h4><a href="/services-ground-support">Ground Support</a></h4>
									<p>Promising innovative, safe and high quality service.</p>
									<a href="/services-ground-support" class="btn">Read more</a>
								</div>
							</div>
						</div>
		            </div>
		            <div class="item">
						<div class="col-md-12 colMobile">
							<div class="box-services">
								<div class="wrap-img">
									<a href="/services-cargo-handling">
										<img src="https://s3.amazonaws.com/gcg-ground/services/services-cargo.jpg" class="img-responsive center-block"/>
									</a>
								</div>
								<div class="text">
									<a href="/services-cargo-handling">
										<div class="icon">
											<i class="fa fa-truck" aria-hidden="true"></i>
										</div>
									</a>
									<h4><a href="/services-cargo-handling">Cargo Support</a></h4>
									<p>All shipments handled efficiently and with care.</p>
									<a href="/services-cargo-handling" class="btn">Read more</a>
								</div>
							</div>
						</div>
		            </div>
		            <div class="item">
						<div class="col-md-12 colMobile">
							<div class="box-services">
								<div class="wrap-img">
									<a href="/services-baggage-services">
										<img src="https://s3.amazonaws.com/gcg-ground/services/services-baggage.jpg" class="img-responsive center-block"/>
									</a>
								</div>
								<div class="text green">
									<a href="/services-baggage-services">
										<div class="icon">
											<i class="fa fa-suitcase" aria-hidden="true"></i>
										</div>
									</a>
									<h4><a href="/services-baggage-services">Baggage Services</a></h4>
									<p>Connecting your passengers with their luggage.</p>
									<a href="/services-baggage-services" class="btn">Read more</a>
								</div>
							</div>
						</div>
		            </div>
		            <div class="item">
						<div class="col-md-12 colMobile">
							<div class="box-services">
								<div class="wrap-img">
									<a href="/services-baggage-services">
										<img src="https://s3.amazonaws.com/gcg-ground/services/services-janitorial.jpg" class="img-responsive center-block"/>
									</a>
								</div>
								<div class="text green">
									<a href="/services-janitorial-services">
										<div class="icon">
											<i class="fa fa-recycle" aria-hidden="true"></i>
										</div>
									</a>
									<h4><a href="/services-baggage-services">Janitorial Services</a></h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
									<a href="/services-baggage-services" class="btn">Read more</a>
								</div>
							</div>
						</div>
		            </div>

	          </div>

	          <script>
		            $(document).ready(function() {
		              $('.owl-carousel').owlCarousel({
		                loop: true,
		                autoplay: 2500,
		                margin: 10,
		                responsiveClass: true,
		                responsive: {
		                  0: {
		                    items: 1,
		                    nav: false
		                  },
		                  600: {
		                    items: 3,
		                    nav: false
		                  },
		                  1000: {
		                    items: 3,
		                    nav: true,
		                    loop: true,
		                    margin: 20
		                  }
		                }
		              })
		            })
	          </script>
			
			</div>

		</div>
	</div>
</section>


<%= render 'service_infographic' %>
<%= render 'layouts/second_contact_form' %>