<% provide(:title, 'Caribbean and Latin America Ground Handling Services | GCG Ground') %>
<% content_for :head do%>
  <meta name="description" content="GCG Ground is the Caribbean ground handler of choice, providing safe & efficient airline ground handling services throughout the Caribbean & Latin America.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<!-- <section class="hero-home"></section> -->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
<!--   <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol> -->

  <div class="carousel-inner">
    <div class="item hero-home-1 myhome active" title="GCG Aircraft Ground handling  services in the Caribbean and Latin America">
      <!-- <img src="" alt="Los Angeles" class=""> -->
    </div>

    <div class="item hero-home-2 myhome" title="GCG Ground handling services in the Caribbean and Latin America">
      <!-- <img src="https://s3.amazonaws.com/gcg-ground/general/hero-home.jpg" alt="Chicago" class="myhome"> -->
    </div>

    <div class="item hero-home-3 myhome gcg-img" title="GCG Airline Ground handling  services in the Caribbean and Latin America">
      <!-- <img src="https://s3.amazonaws.com/gcg-ground/general/hero-about-us.jpg" alt="New York" class="myhome"> -->
    </div>
  </div>
</div>

<!-- Hero  -->




<!-- Phrase  -->
<section class="phrase">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<h1>Welcome</h1>
			</div>
			<div class="col-md-10">
				<h2>The Caribbean’s leading provider of safe and efficient ground handling services.</h2>
			</div>
		</div>
	</div>
</section>
</div>
<!-- Services  -->
<section class="services">
	<div class="container">
		<div class="row text-center">
			<h3 class="mb30">Our Services</h3>
			<div class="col-md-4 col-xs-6 colMobile">
				<div class="box-services">
					<div class="wrap-img">
						<a href="/services-ramp-handling">
							<img src="https://s3.amazonaws.com/gcg-ground/services/services-ramp.jpg" alt="Airline Ramp Handling services in the Caribbean and Latin America" class="img-responsive center-block"/>
						</a>
					</div>
					<div class="text">
						<div class="icon">
							<i class="fa fa-road" aria-hidden="true"></i>
						</div>
						<h4><a href="/services-ramp-handling">Ramp Handling</a></h4>
						<p>Quick turnaround times at a competitive price.</p>
						<a href="/services-ramp-handling" class="btn">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-6 colMobile">
				<div class="box-services">
					<div class="wrap-img">
						<a href="/services-aircraft-cleaning">
							<img src="https://s3.amazonaws.com/gcg-ground/services/services-aircraft.jpg" alt="Aircraft Cleaning services in the Caribbean and Latin America" class="img-responsive center-block"/>
						</a>
					</div>
					<div class="text green">
						<div class="icon">
							<i class="fa fa-plane" aria-hidden="true"></i>
						</div>
						<h4><a href="/services-aircraft-cleaning">Aircraft Cleaning</a></h4>
						<p>Delivering an immaculate aircraft with efficiency.</p>
						<a href="/services-aircraft-cleaning" class="btn">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-6 colMobile">
				<div class="box-services">
					<div class="wrap-img">
						<a href="/services-passenger-services">
							<img src="https://s3.amazonaws.com/gcg-ground/services/services-passenger.jpg" alt="Airline Passenger Services in the Caribbean and Latin America" class="img-responsive center-block"/>
						</a>
					</div>
					<div class="text">
						<div class="icon">
							<i class="fa fa-users" aria-hidden="true"></i>
						</div>
						<h4><a href="/services-passenger-services">Passenger Services</a></h4>
						<p>Ensuring passenger satisfaction, every time.</p>
						<a href="/services-passenger-services" class="btn">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-6 colMobile">
				<div class="box-services">
					<div class="wrap-img">
						<a href="/services-ground-support">
							<img src="https://s3.amazonaws.com/gcg-ground/services/services-ground.jpg" alt="Airline Ground Support services in the Caribbean and Latin America" class="img-responsive center-block"/>
						</a>
					</div>
					<div class="text green">
						<div class="icon">
							<i class="fa fa-universal-access" aria-hidden="true"></i>
						</div>
						<h4><a href="/services-ground-support">Ground Support</a></h4>
						<p>Promising innovative, safe and high quality service.</p>
						<a href="/services-ground-support" class="btn">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-6 colMobile">
				<div class="box-services">
					<div class="wrap-img">
						<a href="/services-cargo-handling">
							<img src="https://s3.amazonaws.com/gcg-ground/services/services-cargo.jpg" alt="Airline Cargo Support services in the Caribbean and Latin America" class="img-responsive center-block"/>
						</a>
					</div>
					<div class="text">
						<div class="icon">
							<i class="fa fa-truck" aria-hidden="true"></i>
						</div>
						<h4><a href="/services-cargo-handling">Cargo Support</a></h4>
						<p>All shipments handled efficiently and with care.</p>
						<a href="/services-cargo-handling" class="btn">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-6 colMobile">
				<div class="box-services">
					<div class="wrap-img">
						<a href="/services-baggage-services">
							<img src="https://s3.amazonaws.com/gcg-ground/services/services-baggage.jpg" alt="Airline Baggage Services in the Caribbean and Latin America" class="img-responsive center-block"/>
						</a>
					</div>
					<div class="text green">
						<div class="icon">
							<i class="fa fa-suitcase" aria-hidden="true"></i>
						</div>
						<h4><a href="/services-baggage-services">Baggage Services</a></h4>
						<p>Connecting your passengers with their luggage.</p>
						<a href="/services-baggage-services" class="btn">Read more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- locations  -->
<!-- <section class="location">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 bgGreen">
				<h1>Where we are</h1>
				<p>Lorem ipsum dolor sit amet, mauris nunc sed neque eget arcu. Nisl porttitor lacus, sem adipiscing aliquam </p>
				<ul>
					<li><a href="/location-florida">Florida, USA</a></li>
					<li><a href="/location-kingston">Kingston, Jamaica</a></li>
					<li><a href="/location-montego-bay">Montego Bay, Jamaica</a></li>
					<li><a href="/location-st-thomas">St. Thomas, USVI</a></li>
				</ul>
			</div>
			<div class="col-md-6 maps">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7170.6161593339475!2d-80.286565!3d26.023474!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9a6254a0ad3ad%3A0xf69f72fe9da1776e!2s2525+Embassy+Dr+%2313%2C+Hollywood%2C+FL+33026!5e0!3m2!1sen!2sus!4v1494876727736" frameborder="0" style="overflow: hidden; width: 100%; position: absolute;"  width="100%" allowfullscreen></iframe>

			</div>
		</div>
	</div>
</section> -->

<section class="bgGreen">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h1>Where we are</h1>
				<p class="mb80">The GCG Ground team is based in three airports in the Caribbean, where they offer a diverse selection of ground handling services to a wide range of airline clients.</p>
				<div class="col-sm-6">
					<div class="row infographic">
						<a href="/locations/<%= @locations.first.title_for_slug %>">
							<div class="myinfobox">
								<h3><%= @locations.first.name %></h3>
								
								<div class="col-xs-1" style="padding-left: 5px;">
									<p><i class="fa fa-map-marker fa-lg"></i></p>
								</div>
								<div class="col-xs-11" style="padding-left: 2px;">
									<p>
									  <%= @locations.first.address  %>
									</p>
								</div>

								<div class="col-xs-1" style="padding-left: 5px;">
									<p><i class="fa fa-phone fa-lg"></i>
								</div>
								<div class="col-xs-11" style="padding-left: 2px;">
								  <p><%= @locations.first.phone %></p>
							  </div>

								<div class="col-xs-1" style="padding-left: 5px;">
									<p><i class="fa fa-user fa-lg"></i>
								</div>
								<div class="col-xs-11" style="padding-left: 2px;"> 
									<p>
										<span class="main_name"><%= @locations.first.profiles.first.full_name %></span>  <br> 
										<span class="main_title"><%= @locations.first.profiles.first.title %></span>
										<span class="noshowmobile"> 
										<br>
										<span class="secondary_name"><%= @locations.first.profiles.second.full_name %></span>  <br> 
										<span class="secondary_title"><%= @locations.first.profiles.second.title %></span> 
										<br>
										<span class="secondary_name"><%= @locations.first.profiles.third.full_name if @locations.first.profiles.third.present? %></span>  <br> 
										<span class="secondary_title"><%= @locations.first.profiles.third.title if @locations.first.profiles.third.present?%></span>
										</span> 
									</p>
								</div>

								<div class="col-xs-1" style="padding-left: 5px;">
									<p><i class="fa fa-plane fa-lg"></i>
								</div>
								<div class="col-xs-11" style="padding-left: 2px;">
									<p>Airport Code: <%= @locations.first.airportcode %></p>
								</div>

							</div>
							<img src="https://s3.amazonaws.com/gcg-ground/general/infographic_florida1.jpg" class="img-responsive center-block mb2"/>
						</a>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row infographic">
						<a href="/locations/<%= @locations.second.title_for_slug %>">
							<div class="myinfobox infoboxright">
								<h3><%= @locations.second.name %></h3>
								
								<div class="col-xs-1" style="padding-left: 5px;">
									<p><i class="fa fa-map-marker fa-lg"></i></p>
								</div>
								<div class="col-xs-11" style="padding-left: 2px;">
									<p>
									  <%= @locations.second.address  %>
									</p>
								</div>

								<div class="col-xs-1" style="padding-left: 5px;">
									<p><i class="fa fa-phone fa-lg"></i>
								</div>
								<div class="col-xs-11" style="padding-left: 2px;">
								  <p><%= @locations.second.phone %></p>
							  </div>

								<div class="col-xs-1" style="padding-left: 5px;">
									<p><i class="fa fa-user fa-lg"></i>
								</div>
								<div class="col-xs-11" style="padding-left: 2px;"> 
									<p>
										<span class="main_name"><%= @locations.second.profiles.first.full_name %></span>  <br> 
										<span class="main_title"><%= @locations.second.profiles.first.title %></span>
										<span class="noshowmobile"> 
										<br>
										<span class="secondary_name"><%= @locations.second.profiles.second.full_name %></span>  <br> 
										<span class="secondary_title"><%= @locations.second.profiles.second.title %></span> 
										<br>
										<span class="secondary_name"><%= @locations.second.profiles.third.full_name if @locations.second.profiles.third.present? %></span>  <br> 
										<span class="secondary_title"><%= @locations.second.profiles.third.title if @locations.second.profiles.third.present?%></span>
										</span> 
									</p>
								</div>

								<div class="col-xs-1" style="padding-left: 5px;">
									<p><i class="fa fa-plane fa-lg"></i>
								</div>
								<div class="col-xs-11" style="padding-left: 2px;">
									<p>Airport Code: <%= @locations.second.airportcode %></p>
								</div>

							</div>
							<img src="https://s3.amazonaws.com/gcg-ground/general/infographic_st_thomas1.jpg" class="img-responsive center-block mb2"/>
						</a>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row infographic">
						<a href="/locations/<%= @locations.third.title_for_slug %>">
							<div class="myinfobox">
								<h3><%= @locations.third.name %></h3>
								
								<div class="col-xs-1" style="padding-left: 5px;">
									<p><i class="fa fa-map-marker fa-lg"></i></p>
								</div>
								<div class="col-xs-11" style="padding-left: 2px;">
									<p>
									  <%= @locations.third.address  %>
									</p>
								</div>

								<div class="col-xs-1" style="padding-left: 5px;">
									<p><i class="fa fa-phone fa-lg"></i>
								</div>
								<div class="col-xs-11" style="padding-left: 2px;">
								  <p><%= @locations.third.phone %></p>
							  </div>

								<div class="col-xs-1" style="padding-left: 5px;">
									<p><i class="fa fa-user fa-lg"></i>
								</div>
								<div class="col-xs-11" style="padding-left: 2px;"> 
									<p>
										<span class="main_name"><%= @locations.third.profiles.first.full_name %></span>  <br> 
										<span class="main_title"><%= @locations.third.profiles.first.title %></span>
										<span class="noshowmobile"> 
										<br>
										<span class="secondary_name"><%= @locations.third.profiles.second.full_name %></span>  <br> 
										<span class="secondary_title"><%= @locations.third.profiles.second.title %></span> 
										<br>
										<span class="secondary_name"><%= @locations.third.profiles.third.full_name if @locations.third.profiles.third.present? %></span>  <br> 
										<span class="secondary_title"><%= @locations.third.profiles.third.title if @locations.third.profiles.third.present?%></span>
										</span> 
									</p>
								</div>

								<div class="col-xs-1" style="padding-left: 5px;">
									<p><i class="fa fa-plane fa-lg"></i>
								</div>
								<div class="col-xs-11" style="padding-left: 2px;">
									<p>Airport Code: <%= @locations.third.airportcode %></p>
								</div>

							</div>
							<img src="https://s3.amazonaws.com/gcg-ground/general/infographic_montego-bay1.jpg" class="img-responsive center-block mb2"/>
						</a>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row infographic">
						<a href="/locations/<%= @locations.fourth.title_for_slug %>">
							<div class="myinfobox infoboxright">
								<h3><%= @locations.fourth.name %></h3>
								
								<div class="col-xs-1" style="padding-left: 5px;">
									<p><i class="fa fa-map-marker fa-lg"></i></p>
								</div>
								<div class="col-xs-11" style="padding-left: 2px;">
									<p>
									  <%= @locations.fourth.address  %>
									</p>
								</div>

								<div class="col-xs-1" style="padding-left: 5px;">
									<p><i class="fa fa-phone fa-lg"></i>
								</div>
								<div class="col-xs-11" style="padding-left: 2px;">
								  <p><%= @locations.fourth.phone %></p>
							  </div>

								<div class="col-xs-1" style="padding-left: 5px;">
									<p><i class="fa fa-user fa-lg"></i>
								</div>
								<div class="col-xs-11" style="padding-left: 2px;"> 
									<p>
										<span class="main_name"><%= @locations.fourth.profiles.first.full_name %></span>  <br> 
										<span class="main_title"><%= @locations.fourth.profiles.first.title %></span>
										<span class="noshowmobile"> 
										<br>
										<span class="secondary_name"><%= @locations.fourth.profiles.second.full_name %></span>  <br> 
										<span class="secondary_title"><%= @locations.fourth.profiles.second.title %></span> 
										<br>
										<span class="secondary_name"><%= @locations.fourth.profiles.third.full_name if @locations.fourth.profiles.third.present? %></span>  <br> 
										<span class="secondary_title"><%= @locations.fourth.profiles.third.title if @locations.fourth.profiles.third.present?%></span>
										</span> 
									</p>
								</div>

								<div class="col-xs-1" style="padding-left: 5px;">
									<p><i class="fa fa-plane fa-lg"></i>
								</div>
								<div class="col-xs-11" style="padding-left: 2px;">
									<p>Airport Code: <%= @locations.fourth.airportcode %></p>
								</div>

							</div>
							<img src="https://s3.amazonaws.com/gcg-ground/general/infographic_kingston1.jpg" class="img-responsive center-block mb2"/>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- latest news  -->
<section class="news">
	<div class="container">
		<div class="row">
			<h4 class="mb30 text-center">Latest News</h4>
			<% @blogs.each do |blog| %>
				<div class="col-sm-4 col-xs-12 mt60 mb30 pull-left">
		        <a href="<%= blog_path(blog.title_for_slug) %>"><div class="img-blog"  style="background-image: url(<%= blog.images[0].pic.url(:large) %>);"></div></a>
					<h5><%= link_to blog.title, blog_path(blog.title_for_slug) %></h5>
					<p><%= HTML_Truncator.truncate(blog.content_index, 15).html_safe %></p>
					<%= link_to 'Read More >', blog_path(blog.title_for_slug), class: "btn" %>
				</div>
			<% end %>
		</div>
	</div>
</section>
