<% provide(:title, 'Join the GCG Ground Handling Team | GCG Ground') %>
<% content_for :head do%>
  <meta name="description" content="Join the GCG Ground team! Our skilled and professional employees are what has helped establish us as the Caribbean's ground handler of choice.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-privacy"></section>

<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h3 class="mb30">Join Our Team</h3>
				<p class="mt60 mb60">GCG Ground is the ground handler of choice in the Caribbean and Latin America, and a skilled and professional team is what helped it achieve this position. The company offers a wide variety of opportunities for individuals at all levels of experience to grow within the ground services industry. <br/><br/>Please complete the form below to learn more about our open positions.</p>
			</div>
			<div class="col-sm-10 col-sm-offset-1">
				<div class="message">

					<%= form_for :applicant, :html => { :id => "new_applicant", class: "join"}, :url => {:controller => "applicants", :action => "create"} do |f| %>
						<div class="col-sm-6 col-sm-offset-3">
					    <div class="form-group">
					      <%= f.label :full_name, class: "sr-only" %>
					      <%= f.text_field :full_name, class: "form-control", placeholder: "Full Name*", required: true %>
					    </div>
					  </div>
						<div class="col-sm-6 col-sm-offset-3">
					    <div class="form-group">
					      <%= f.label :email, class: "sr-only" %>
					      <%= f.email_field :email, class: "form-control", placeholder: "Email*", required: true %>
					    </div>
					  </div>
						<div class="col-sm-6 col-sm-offset-3">
					    <div class="form-group">
					      <%= f.label :phone_number, class: "sr-only" %>
					      <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone*", required: true %>
					    </div>
					  </div>
						<div class="col-sm-6 col-sm-offset-3">
					    <div class="form-group">
					      <%= f.label :location, class: "sr-only" %>
					      <%= f.select :location_id, Location.order(name: :asc).all.map {|u| [u.name, u.id]}, {prompt: "Select Career Location"}, required: true, class: "form-control" %>
					    </div>
					  </div>
						<div class="col-sm-6 col-sm-offset-3">
					    <div class="form-group">
					      <%= f.label :resume, "Resume (pdf only)" %>
					      <%= f.file_field :resume, required: true %>
					    </div>
					  </div>
						<div class="col-sm-6 col-sm-offset-3">
					    <div class="form-group">
					      <%= f.submit "Submit", class: "btn btn-default btn-xl" %>
					    </div>
					  </div>
				  <% end %>


					<!-- <form class="join" action="">
						<div class="col-sm-6">
							<div class="form-group">
							    <label class="sr-only" for="name">Full Name</label>
							    <input type="name" class="form-control" id="name" placeholder="Full Name*">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
							    <label class="sr-only" for="email">Email</label>
							    <input type="email" class="form-control" id="email" placeholder="Email*">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
							    <label class="sr-only" for="name">Phone</label>
							    <input type="phone" class="form-control" id="phone" placeholder="Phone*">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
							    <label for="exampleInputFile">Upload resume</label>
							    <input class="mt16" type="file" id="exampleInputFile">
							  </div>
						</div>
						<div class="col-sm-4 col-sm-offset-4">
							<div class="form-group">
							    <button type="submit" class="btn btn-default btn-xl">Submit</button>
							</div>
						</div>
					</form> -->
				</div>
			</div>
		</div>
	</div>
</section>
