<% provide(:title, 'Airline Ground Handling Services in Cooper City FL | GCG Ground') %>
<% content_for :head do%>
  <meta name="description" content="GCG Ground's Cooper City, FL headquarters oversees our 3 airport stations throughout the Caribbean. We ensure the success of over 11,000 flights per year.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-location" title="GCG ground and handling headquarters in Cooper City Florida"></section>

<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 text-left center-mobile">
				<h4 class="mb0">Florida, USA</h4>
				<p class="mt15">GCG Ground headquarters in Florida is responsible for overseeing the three GCG Ground stations. Its management team is committed to building an organization that can deliver an innovative, safe and consistently high quality product with excellent customer service. The team ensures the success of each station, which combined service 15 airline clients and handle more than 11,000 flights per year. </p>
			</div>
			<div class="col-sm-4 text-right center-mobile">
				<h5 class="mb0">Contact Details</h5>
				<p class="mt15">2525 Embassy Drive Suite #13<br/>Cooper City, FL 33026 USA<br/>Phone: (954) 438-9855<br/>Fax: (954) 438-9560</p>
				<br>
				<a class="btn btn-default btnBlog" href="#contactourlocation">Contact Us</a>
			</div>
		</div>

		<div class="row mt60">
			<h5 class="mt30 mb60 text-center">The Team <%= link_to "(Add new member)", new_profile_path  if current_user.try(:admin?)%></h5>
			<!-- <div class="col-sm-4 text-center mb30 mobile50">
				<img class="img-circle img-responsive imgTeam center-block" src="https://s3.amazonaws.com/gcg-ground/location/florida/team_florida01.jpg" alt="Stewart Massiah">
				<h6>Stewart Massiah</h6>
				<address>
				  President<br>
				  Tel. 954-438-9855
				</address>
			</div>
			<div class="col-sm-4 text-center mb30 mobile50">
				<img class="img-circle img-responsive imgTeam center-block" src="https://s3.amazonaws.com/gcg-ground/location/florida/team_florida01.jpg" alt="Stewart Massiah">
				<h6>Bruno Barrientos</h6>
				<address>
				  Ground Handling Division Manager<br>
				  Tel. 954-438-9855
				</address>
			</div>
			<div class="col-sm-4 text-center mb30 mobile50">
				<img class="img-circle img-responsive imgTeam center-block" src="https://s3.amazonaws.com/gcg-ground/location/florida/team_florida01.jpg" alt="Stewart Massiah">
				<h6>Carolyn Molina</h6>
				<address>
				  Procurement Manager<br>
				  Tel. 954-438-9855
				</address>
			</div>
			<div class="col-sm-4 text-center mb30 mobile50">
				<img class="img-circle img-responsive imgTeam center-block" src="https://s3.amazonaws.com/gcg-ground/location/florida/team_florida01.jpg" alt="Stewart Massiah">
				<h6>Ivan Zentilli</h6>
				<address>
				  Safety and Security manager<br>
				  Tel. 954-438-9855
				</address>
			</div>
			<div class="col-sm-4 text-center mb30 mobile50">
				<img class="img-circle img-responsive imgTeam center-block" src="https://s3.amazonaws.com/gcg-ground/location/florida/team_florida01.jpg" alt="Stewart Massiah">
				<h6>Emilio Marti</h6>
				<address>
				  Vice President of Finance<br>
				  Tel. 954-438-9855
				</address>
			</div>
			<div class="col-sm-4 text-center mb30 mobile50">
				<img class="img-circle img-responsive imgTeam center-block" src="https://s3.amazonaws.com/gcg-ground/location/florida/team_florida01.jpg" alt="Stewart Massiah">
				<h6>Berardo Ortega</h6>
				<address>
				  Accountant<br>
				  Tel. 954-438-9855
				</address>
			</div>
			<div class="col-sm-4 text-center mb30 mobile50">
				<img class="img-circle img-responsive imgTeam center-block" src="https://s3.amazonaws.com/gcg-ground/location/florida/team_florida01.jpg" alt="Stewart Massiah">
				<h6>Danae Pena</h6>
				<address>
				  Accounting<br>
				  Tel. 954-438-9855
				</address>
			</div>
			<div class="col-sm-4 text-center mb30 mobile50">
				<img class="img-circle img-responsive imgTeam center-block" src="https://s3.amazonaws.com/gcg-ground/location/florida/team_florida01.jpg" alt="Stewart Massiah">
				<h6>Lynda Pantoja</h6>
				<address>
				  Human Resources Manager<br>
				  Tel. 954-438-9855
				</address>
			</div>
			<div class="col-sm-4 text-center mb30 mobile50">
				<img class="img-circle img-responsive imgTeam center-block" src="https://s3.amazonaws.com/gcg-ground/location/florida/team_florida01.jpg" alt="Stewart Massiah">
				<h6>Leonardo Carrascal </h6>
				<address>
				  Engineering and Facilities Manager <br>
				  Tel. 954-438-9855
				</address>
			</div> -->
			
			<%# Commented out best in place because cant edit image in place, otherwise great gem %>

			<%# @profiles.each do |profile| %>
			<!-- <div class="col-sm-4 text-center mb30 mobile50"> -->
				<%#= image_tag(profile.image.pic.url(:square), class: "img-circle img-responsive imgTeam center-block") if profile.image.present? %>
				<!-- <h6><%#= best_in_place_if current_user.try(:admin?), profile, :full_name %></h6> -->
				<!-- <address> -->
					<!-- <%#= best_in_place_if current_user.try(:admin?), profile, :title %> <br> -->
					<!-- Tel. <%#= best_in_place_if current_user.try(:admin?), profile, :telephone %> -->
				<!-- </address> -->
				<%# if current_user.try(:admin?) %>
					<!-- <div>Location: <%#= best_in_place profile, :location, type: :select, collection: [["Florida", "Florida"], ["Kingston", "Kingston"], ["Montego-Bay", "Montego-Bay"], ["St-Thomas", "St-Thomas"]] %></div> <br> -->
					<!-- <div>Position: <%#= best_in_place profile, :position, type: :input %></div> <br> -->
					<!-- <div><%#= link_to 'Edit', edit_profile_path(profile), class:"btn btn-default btnBlog" %></div> -->
					<!-- <div><%#= link_to 'Destroy', profile_path(profile), class:"btn btn-default btnBlog", method: :delete, data: { confirm: 'Are you sure?' } %></div> -->
				<%# end %>
			<!-- </div> -->
			<%# end %>
			
			<% @profiles.each do |profile| %>
			<div class="col-sm-4 text-center mb30 mobile50">
				<%= image_tag(profile.image.pic.url(:square), class: "img-circle img-responsive imgTeam center-block") if profile.image.present? %>
				<h6><%= profile.full_name %></h6>
				<address>
					<%= profile.title %> <br>
					<%= "Tel. #{profile.telephone}" if profile.telephone.present? %>
				</address>
				<% if current_user.try(:admin?) %>
					<div>Location: <%= profile.location %></div> <br>
					<div>Position: <%= profile.position %></div> <br>
					<div><%= link_to 'Edit', edit_profile_path(profile), class:"btn btn-default btnBlog" if current_user.try(:admin?) %></div> <br>
					<div><%= link_to 'Destroy', profile_path(profile), class:"btn btn-default btnBlog", method: :delete, data: { confirm: 'Are you sure?' } if current_user.try(:admin?)%></div>
				<% end %>
			</div>
			<% end %>

		</div>
	</div>
</section>

<!-- Location  -->
<section class="bgGrey">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h5 class="mb60 text-center">Our Location</h5>
				<div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7864.340804889048!2d-80.29142555964783!3d26.03198117616144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9a6254a0ad3ad%3A0xf69f72fe9da1776e!2s2525+Embassy+Dr+%2313%2C+Hollywood%2C+FL+33026!5e0!3m2!1sen!2sus!4v1494853568569" height="100%" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Form  -->
<section id="contactourlocation">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h5 class="mb60 text-center">Send us a Message</h5>
				<div class="message">

					<%= form_for Contact.new, :html => { :id => "new_contact" }, :url => {:controller => "contacts", :action => "create"} do |f| %>
					<div class="col-sm-4">
				    <div class="form-group">
				      <%= f.label :name, class: "sr-only" %>
				      <%= f.text_field :name, class: "form-control", placeholder: "Full Name", required: true %>
				    </div>
				  </div>
					<div class="col-sm-4">
				    <div class="form-group">
				      <%= f.label :email, class: "sr-only" %>
				      <%= f.email_field :email, class: "form-control", placeholder: "Email", required: true %>
				    </div>
				  </div>
					<div class="col-sm-4">
				    <div class="form-group">
				      <%= f.label :phone_number, class: "sr-only" %>
				      <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone", required: true %>
				    </div>
				  </div>
					<div class="col-sm-8">
				    <div class="form-group">
				      <%= f.label :message, class: "sr-only" %>
				      <%= f.text_area :message, class: "form-control", rows: 3, placeholder: "Message", required: true %>
				    </div>
				  </div>
					<div class="col-sm-4">
				    <div class="form-group">
				      <%= f.submit "Submit", class: "btn btn-default btn-xl" %>
				    </div>
				  </div>
				  <% end %>

				</div>
			</div>
		</div>
	</div>
</section>

