<% provide(:title, 'Airline Ground Handling Services in St Thomas | GCG Ground') %>
<% content_for :head do%>
  <meta name="description" content="GCG Ground's St Thomas base operates out of Cyril E King airport and our trained, 150 member team provides a full range of airline ground handling services.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-location-stthomas" title="GCG has airline ground and handling services in St. Thomas, USVI"></section>

<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 text-left center-mobile">
				<h4 class="mb0">St. Thomas, USVI</h4>
				<p class="mt15">GCG Ground St. Thomas operates at the Cyril E King Airport, providing a full range of ground handling services. The company takes pride in delivering quality service to its clients, which have included major airlines like Delta Airlines, Spirit Airlines, Sun Country, and American Airlines. Each member of its staff is trained to provide safe and efficient service. Its team exceeds 150 people, and has earned a reputation for over-delivering on all of the company’s promises. </p>
			</div>
			<div class="col-sm-4 text-right center-mobile">
				<h5 class="mb0">Contact Details</h5>
				<p class="mt15">Ciryl E. King Airport, Virgin Islands, U.S.<br/>Phones(s): (340) 776-4646 <br/>or (340) 777-5920<br/>Fax: (340) 777-5911<br/>Mobile: (340) 690-7756<br/>Airport Code: STT/TIST</p>
				<br>
				<a class="btn btn-default btnBlog" href="#contactourlocation">Contact Us</a>
			</div>
		</div>
		<div class="row mt60">
			<h5 class="mt30 mb60 text-center">The Team <%= link_to "(Add new member)", new_profile_path  if current_user.try(:admin?)%></h5>
<!-- 			<div class="col-sm-4 text-center mb30 mobile50">
				<img class="img-circle img-responsive imgTeam center-block" src="https://s3.amazonaws.com/gcg-ground/location/kingston/team_kingston01.jpg" alt="Strephon Sanderson">
				<h6>Je’Von Gilpin</h6>
				<address>
				  Delta Account Manager<br>
				  Tel. (340)777-5920
				</address>
			</div>
			<div class="col-sm-4 text-center mb30 mobile50">
				<img class="img-circle img-responsive imgTeam center-block" src="https://s3.amazonaws.com/gcg-ground/location/kingston/team_kingston01.jpg" alt="Strephon Sanderson">
				<h6>Donasia Furlow</h6>
				<address>
				  Human Resources Manager<br>
				  Tel. (340)777-5920 ext.22
				</address>
			</div> -->

			<% @profiles.each do |profile| %>
			<div class="col-sm-4 text-center mb30 mobile50">
				<%= image_tag(profile.image.pic.url(:square), class: "img-circle img-responsive imgTeam center-block") if profile.image.present? %>
				<h6><%= profile.full_name %></h6>
				<address>
					<%= profile.title %> <br>
					<%= "Tel. #{profile.telephone}" if profile.telephone.present? %>
				</address>
				<% if current_user.try(:admin?) %>
					<div>Location: <%= profile.location %></div> <br>
					<div>Position: <%= profile.position %></div> <br>
					<div><%= link_to 'Edit', edit_profile_path(profile), class:"btn btn-default btnBlog" if current_user.try(:admin?) %></div> <br>
					<div><%= link_to 'Destroy', profile_path(profile), class:"btn btn-default btnBlog", method: :delete, data: { confirm: 'Are you sure?' } if current_user.try(:admin?)%></div>
				<% end %>
			</div>
			<% end %>
			
		</div>
	</div>
</section>

<!-- Location  -->
<section class="bgGrey">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h5 class="mb60 text-center">Our Location</h5>
				<div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15083.161945346763!2d-64.97738574173955!3d18.339906505874893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c051ba12ea1f9e3%3A0x94309a676dd7de7e!2sCyril+E.+King+Airport!5e0!3m2!1sen!2sus!4v1494256981779" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Form  -->
<section id="contactourlocation">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h5 class="mb60 text-center">Send us a Message</h5>
				<div class="message">
					<%= form_for Contact.new, :html => { :id => "new_contact" }, :url => {:controller => "contacts", :action => "create"} do |f| %>
						<div class="col-sm-4">
					    <div class="form-group">
					      <%= f.label :name, class: "sr-only" %>
					      <%= f.text_field :name, class: "form-control", placeholder: "Full Name", required: true %>
					    </div>
					  </div>
						<div class="col-sm-4">
					    <div class="form-group">
					      <%= f.label :email, class: "sr-only" %>
					      <%= f.email_field :email, class: "form-control", placeholder: "Email", required: true %>
					    </div>
					  </div>
						<div class="col-sm-4">
					    <div class="form-group">
					      <%= f.label :phone_number, class: "sr-only" %>
					      <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone", required: true %>
					    </div>
					  </div>
						<div class="col-sm-8">
					    <div class="form-group">
					      <%= f.label :message, class: "sr-only" %>
					      <%= f.text_area :message, class: "form-control", rows: 3, placeholder: "Message", required: true %>
					    </div>
					  </div>
						<div class="col-sm-4">
					    <div class="form-group">
					      <%= f.submit "Submit", class: "btn btn-default btn-xl" %>
					    </div>
					  </div>
				  <% end %>
				</div>
			</div>
		</div>
	</div>
</section>

