<% provide(:title, 'Airline Ground Handling Services in Kingston Jamaica | GCG Ground') %>
<% content_for :head do%>
  <meta name="description" content="GCG Ground's Kingston, Jamaica team has operated out of the Norman Manley International Airport since 1981. Our team includes 700 highly trained members.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
<% end %>

<!-- Hero  -->
<section class="hero-location-kingston" title="GCG has airline ground and handling services in Kingston Jamaica"></section>

<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 text-left center-mobile">
				<h4 class="mb0">Kingston, Jamaica</h4>
				<p class="mt15">GCG Ground Kingston operates at Norman Manley International Airport under the Jamaica Dispatch Services Limited name. Since its incorporation in 1981, the company’s roster of clients has included several of the world’s leading airlines, such as American Airlines, Omni Air International and Leisure International Airways. Notably, Jamaica Dispatch Services Limited handled the first B-757, A-340, MD-11, A-330, MD-83, and MD-85 to have operated in Jamaica. The company employs 700 employees, each who receive extensive training to guarantee excellent service and exceeded expectations.  </p>
			</div>
			<div class="col-sm-4 text-right center-mobile">
				<h5 class="mb0">Contact Details</h5>
				<p class="mt15">Norman Manley International Airport, Kingston, Jamaica<br/>Phones(s): 876-952-4570<br/>Fax: 876-952-5641<br/>Mobile: 876-952-8611<br/>Airport Code: KIN/MKJP</p>
				<br>
				<a class="btn btn-default btnBlog" href="#contactourlocation">Contact Us</a>
			</div>
		</div>
		<div class="row mt60">
			<h5 class="mt30 mb60 text-center">The Team <%= link_to "(Add new member)", new_profile_path  if current_user.try(:admin?)%></h5>
<!-- 			<div class="col-sm-4 text-center mb30 mobile50">
				<img class="img-circle img-responsive imgTeam center-block" src="https://s3.amazonaws.com/gcg-ground/location/kingston/team_kingston01.jpg" alt="Strephon Sanderson">
				<h6>Strephon Sanderson</h6>
				<address>
				  Managing Director<br>
				  Tel. (876) 924-8131 ext. 224
				</address>
			</div>
			<div class="col-sm-4 text-center mb30 mobile50">
				<img class="img-circle img-responsive imgTeam center-block" src="https://s3.amazonaws.com/gcg-ground/location/kingston/team_kingston01.jpg" alt="Strephon Sanderson">
				<h6>Shawn Bowla</h6>
				<address>
				  Manager, Airport Operations<br>
				  Tel. (876) 469-2920
				</address>
			</div>
			<div class="col-sm-4 text-center mb30 mobile50">
				<img class="img-circle img-responsive imgTeam center-block" src="https://s3.amazonaws.com/gcg-ground/location/kingston/team_kingston01.jpg" alt="Strephon Sanderson">
				<h6>Dean Macbean</h6>
				<address>
				  Accounts Manager<br>
				  Tel. (876) 952-4570<br>
				  Mobile: (876) 854-5422
				</address>
			</div>
			<div class="col-sm-4 text-center mb30 mobile50">
				<img class="img-circle img-responsive imgTeam center-block" src="https://s3.amazonaws.com/gcg-ground/location/kingston/team_kingston01.jpg" alt="Strephon Sanderson">
				<h6>Lorraine Anderson</h6>
				<address>
				  Administrative Manager<br>
				  Tel. (876) 952-4570<br>
				  Mobile: (876) 952-8611
				</address>
			</div>
			<div class="col-sm-4 text-center mb30 mobile50">
				<img class="img-circle img-responsive imgTeam center-block" src="https://s3.amazonaws.com/gcg-ground/location/kingston/team_kingston01.jpg" alt="Strephon Sanderson">
				<h6>Andrea Richards</h6>
				<address>
				  Station Mangager<br>
				  Tel. (876) 924-8500
				</address>
			</div>
			<div class="col-sm-4 text-center mb30 mobile50">
				<img class="img-circle img-responsive imgTeam center-block" src="https://s3.amazonaws.com/gcg-ground/location/kingston/team_kingston01.jpg" alt="Strephon Sanderson">
				<h6>Mike Lazarus</h6>
				<address>
				  Ramp Manager<br>
				  Tel. (876) 924-8426
				</address>
			</div> -->

			<% @profiles.each do |profile| %>
			<div class="col-sm-4 text-center mb30 mobile50">
				<%= image_tag(profile.image.pic.url(:square), class: "img-circle img-responsive imgTeam center-block") if profile.image.present? %>
				<h6><%= profile.full_name %></h6>
				<address>
					<%= profile.title %> <br>
					<%= "Tel. #{profile.telephone}" if profile.telephone.present? %>
				</address>
				<% if current_user.try(:admin?) %>
					<div>Location: <%= profile.location %></div> <br>
					<div>Position: <%= profile.position %></div> <br>
					<div><%= link_to 'Edit', edit_profile_path(profile), class:"btn btn-default btnBlog" if current_user.try(:admin?) %></div> <br>
					<div><%= link_to 'Destroy', profile_path(profile), class:"btn btn-default btnBlog", method: :delete, data: { confirm: 'Are you sure?' } if current_user.try(:admin?)%></div>
				<% end %>
			</div>
			<% end %>

		</div>
	</div>
</section>

<!-- Location  -->
<section class="bgGrey">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h5 class="mb60 text-center">Our Location</h5>
				<div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27766.019990307723!2d-76.79442889715762!3d17.940102105760122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8edb474b53fa97a3%3A0x789ce62c4a162e9!2sNorman+Manley+International+Airport!5e0!3m2!1sen!2sus!4v1494256340994" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Form  -->
<section id="contactourlocation">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h5 class="mb60 text-center">Send us a Message</h5>
				<div class="message">
					<%= form_for Contact.new, :html => { :id => "new_contact" }, :url => {:controller => "contacts", :action => "create"} do |f| %>
						<div class="col-sm-4">
					    <div class="form-group">
					      <%= f.label :name, class: "sr-only" %>
					      <%= f.text_field :name, class: "form-control", placeholder: "Full Name", required: true %>
					    </div>
					  </div>
						<div class="col-sm-4">
					    <div class="form-group">
					      <%= f.label :email, class: "sr-only" %>
					      <%= f.email_field :email, class: "form-control", placeholder: "Email", required: true %>
					    </div>
					  </div>
						<div class="col-sm-4">
					    <div class="form-group">
					      <%= f.label :phone_number, class: "sr-only" %>
					      <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone", required: true %>
					    </div>
					  </div>
						<div class="col-sm-8">
					    <div class="form-group">
					      <%= f.label :message, class: "sr-only" %>
					      <%= f.text_area :message, class: "form-control", rows: 3, placeholder: "Message", required: true %>
					    </div>
					  </div>
						<div class="col-sm-4">
					    <div class="form-group">
					      <%= f.submit "Submit", class: "btn btn-default btn-xl" %>
					    </div>
					  </div>
				  <% end %>
				</div>
			</div>
		</div>
	</div>
</section>

