<% provide(:title, 'Airline Cargo Handling Services | GCG Ground') %>
<% content_for :head do%>
  <meta name="description" content="GCG Ground provides a skilled team of cargo handlers who are certified and trained in handling perishable and dangerous items. We are also ISAGO compliant.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<!-- Hero  -->
<section class="hero-cargo-support"></section>

<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h4 class="mb60">Cargo Handling</h4>
				<p>To the person who is transporting it, all cargo is precious. Therefore, your airline needs handlers who treat it as such. When you work with GCG Ground, you get access to a team of skilled cargo handlers. Each member of the company’s team is certified for loading, unloading and transporting goods on the runway.<br/><br/>Your airline can depend on GCG Ground to handle a diverse range of cargo, including perishable and even dangerous items. GCG Ground complies with or exceeds all local and international safety requirements and is ISAGO compliant. Additionally, the team goes through extensive training to guarantee all shipments are handled efficiently and with care, from the most valuable items to the least.</p>
			</div>
		</div>
	</div>
</section>

<!-- Services  -->
<%= render 'other_services' %>

<!-- Location  -->
<%= render 'service_infographic' %>

<!-- Contact Form -->
<%= render 'layouts/second_contact_form' %>

