<% provide(:title, 'Ramp Handling and Operations for Airlines | GCG Ground') %>
<% content_for :head do%>
  <meta name="description" content="GCG Ground ramp agents are fully trained to meet the ramp handling & operations demands of your airline. Our team ensures a seamless and timely departure.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<!-- Hero  -->
<section class="hero-ramp"></section>

<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h4 class="mb60">Ramp Handling</h4>
				<p>GCG Ground is a leading provider of ramp handling, offering a wide range of services to meet the unique needs of your airline. All ramp agents are fully trained in every aspect of ramp handling and operations for the airlines the company represents. This ensures the demands of the airline are always met with the highest level of service, even during irregular operations.<br/><br/>With GCG Ground, efficiency is guaranteed for every flight. The crew is based on the ramp so that there is minimal delay when positioning personnel. This team expertly executes all functions to ensure a seamless experience and timely departure. No matter the size of the flight, the company has the manpower to deliver quick turnaround times at a competitive price. From baggage reconciliation, to loading cargo, and everything in between, GCG Ground has you covered.</p>
			</div>
		</div>
	</div>
</section>

<!-- Services  -->
<%= render 'other_services' %>

<!-- Location  -->
<%= render 'service_infographic' %>

<!-- Contact Form -->
<%= render 'layouts/second_contact_form' %>

