<% provide(:title, 'Airline Passenger and Customer Service | GCG Ground') %>
<% content_for :head do%>
  <meta name="description" content="GCG Ground guarantees excellent customer service with professional, hospitable agents trained in all airline check-in systems. Wheelchair services on hand.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<!-- Hero  -->
<section class="hero-passenger"></section>

<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h4 class="mb60">Passenger Services</h4>
				<p>Customer service agents are the face of the airline, and such a responsibility cannot be doled out lightly. When you enlist GCG Ground to handle your airline’s passenger services, excellent customer service is guaranteed. Each of its agents undergo a rigorous interview and selection process and in-depth training. Before agents are released to service, they are equipped with the skills necessary to provide the highest degree of professionalism and hospitality in every situation that may arise. <br/><br/>GCG Ground customer service agents are extremely versatile and trained in all of the major check-in systems used by airlines. In addition to check-in, these individuals can assist passengers with lost and found, arrival and transfer, weather briefing, and airport ticketing. The company is the only provider of wheelchair services in the Caribbean and Latin America, and can even assist in flight operations and obtaining landing permits.</p>
			</div>
		</div>
	</div>
</section>

<!-- Services  -->
<%= render 'other_services' %>

<!-- Location  -->
<%= render 'service_infographic' %>

<!-- Contact Form -->
<%= render 'layouts/second_contact_form' %>

