<% provide(:title, 'Aircraft Cleaning Services | GCG Ground') %>
<% content_for :head do%>
  <meta name="description" content="Aircraft Cleaning Services | GCG Ground">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<!-- Hero  -->
<section class="hero-aircraft"></section>

<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h4 class="mb60">Aircraft Cleaning</h4>
				<p>A clean aircraft is essential for facilitating a positive passenger experience. With only a short window of time available between flights, having an efficient but thorough cleaning crew is essential. GCG Ground prides itself on exceeding client expectations in terms of cleanliness and timeliness. The company has developed a proven process for quickly cleaning aircrafts of any size. <br/><br/>The aircraft cleaning process at GCG Ground involves each staff member being assigned a role, whether that is sweeping the floors or disinfecting the lavatories. Duties are pre-assigned and overseen by an experienced lead. This individual serves as a timekeeper to ensure turnaround times are met. With this strategy, every inch of the aircraft can be cleaned within four minutes on average.</p>
			</div>
		</div>
	</div>
</section>

<!-- Services  -->
<%= render 'other_services' %>

<!-- Location  -->
<%= render 'service_infographic' %>

<!-- Contact Form -->
<%= render 'layouts/second_contact_form' %>

