<% provide(:title, 'Airline Ground Support Services | GCG Ground') %>
<% content_for :head do%>
  <meta name="description" content="The GCG Ground team is capable of servicing the entire aircraft in minimal turnaround time. Full-service ground operations with the exception of fueling.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<!-- Hero  -->
<section class="hero-ground-support"></section>

<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h4 class="mb60">Ground Support</h4>
				<p>From the moment a plane touches ground, the clock starts ticking for the next flight’s takeoff. The turnaround time is usually minimal, with many tasks that must be completed during it. Thus, having one team of professionals capable of servicing an entire aircraft is invaluable. GCG Ground offers full-service ground operations with the exception of fueling, with the promise of efficiency no matter the size of the plane.<br/><br/>The ground support services provided by GCG Ground’s professional team include aircraft loading and unloading, push-back, lavatory servicing, and even supply portable water services. Additionally, the company can arrange airplane maintenance to help facilitate a timely departure. GCG Ground provides the the support you need when your aircraft is grounded, ensuring a positive customer experience for everyone on board.</p>
			</div>
		</div>
	</div>
</section>

<!-- Services  -->
<%= render 'other_services' %>

<!-- Location  -->
<%= render 'service_infographic' %>

<!-- Contact Form -->
<%= render 'layouts/second_contact_form' %>

