<% provide(:title, 'Airline Janitorial Services | GCG Ground') %>
<% content_for :head do%>
  <meta name="description" content="GCG Ground's meticulous team keeps all surfaces free of trash and dust. We sanitize high-touch surfaces and offer upholstery, water and lavatory services.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<!-- Hero  -->
<section class="hero-janitorial"></section>

<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h4 class="mb60">Janitorial Services</h4>
				<p>GCG Ground provides a comprehensive selection of janitorial services for both airports and aircrafts. Its team has developed a quick and efficient system for cleaning that offers the highest level of sanitation. This not only makes a good impression with passengers, but also provides a safe and pleasant environment for employees to work. <br/><br/>Inside airports and cabins, GCG Ground’s meticulous team can be counted on to keep spaces free of trash, dust all surfaces regularly, and throughly sanitize high-touch surfaces like door handles, telephones and tray tables. In addition to these general cleaning tasks, the crew provides upholstery cleaning services and guarantees all floors appear their best, whether this means buffing floors, shampooing carpets, or maintaining hardwood floors. GCG Ground’s team also offers water and lavatory services, and is held to the highest standards for cleanliness to ensure the safety of all those on board. The crew maintains optimal appearance for the exterior of the airport and aircraft as well, offering parking lot sweeping and power washing services to its clients. </p>
			</div>
		</div>
	</div>
</section>

<!-- Services  -->
<%= render 'other_services' %>

<!-- Location  -->
<%= render 'service_infographic' %>

<!-- Contact Form -->
<%= render 'layouts/second_contact_form' %>

