<% provide(:title, 'Airline Baggage Services | GCG Ground') %>
<% content_for :head do%>
  <meta name="description" content="GCG Ground provides airline baggage tracking, loading, and reconciliation services. Our handlers are also thoroughly trained in customer service & support.">
  <!-- <meta name="keywords" content="home keywords"> -->
  <!-- <link rel="canonical" href="http://www.mysite.com/mypage/"/> -->
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<!-- Hero  -->
<section class="hero-baggages"></section>

<section class="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h4 class="mb60">Baggage Services</h4>
				<p>GCG Ground has a dedicated baggage services team, allowing the company to track  misconnected bags with ease and deal with any baggage-related issues internally. The company also utilizes World Tracer, a frequently updated baggage tracing system to track the luggage its client’s passengers are traveling with at every exchange.<br/><br/>In addition to routinely tracking the baggage being transported by the airline, GCG Ground also provides other baggage services, such as loading and baggage reconciliation. The company promises the careful handling and sorting of all luggage, no matter how quick the turnaround. The baggage team receives thorough customer services training as well to ensure your customers have a favorable experience even when unavoidable issues arise.</p>
			</div>
		</div>
	</div>
</section>

<!-- Services  -->
<%= render 'other_services' %>

<!-- Location  -->
<%= render 'service_infographic' %>

<!-- Contact Form -->
<%= render 'layouts/second_contact_form' %>

