/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require animate.min
 *= require owl.carousel.min
 *= require owl.theme.default.min
 *= require light-gallery
 *= require_tree .
 *= require_self
 */

 

@import "bootstrap";
@import "font-awesome";

body {
	font-family: 'Roboto', sans-serif;
}
body, html, .slideHome{
    height: 100%;
}
img[src="#"] {
   display: none;
}

h3, h4, h5 {
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  color: #f7966b;
  margin-top: 0;
}
h4, h5 {
  font-size: 34px;
  color: #a6bc9a;
}
h5 {
  font-size: 28px;
}
h6 {
  font-size: 24px;
  color: #666;
}
p {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: #9c9c9c;
  margin: 0px;
}
address {
    color: #888;
    line-height: 28px;
}

section {
    padding: 100px 0;
}
.bgGrey {
    background-color: #F9F9F9;
}
a {
    color: #a6bc9a;
}
a:hover, a:focus {
    color: #45606a;
    text-decoration: underline;
}
.alert {
  margin-bottom: 0px;
}
/* ------------------------- Top Navigation --------------------------- */
.navigation {
   position: relative;
   background-color: #fff;
   padding: 0;
   width: 100%;
}
a.navbar-brand{
    width: 150px;
    height: auto;
    padding: 15px 0;
    margin: 0 !important;
}
.navbar-nav {
    margin: 40px 15px 0;
    transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -webkit-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -moz-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -o-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}
.navbar-nav > li > a {
  border-bottom: none;
    color: #747474;
    font-size: 20px;
    font-weight: unset;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 20px;
    padding: 0 0 5px 0;
    transition:all 0.3s ease-in;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    -o-transition:all 0.3s ease-in;
    margin: 5px 30px;
    &:hover {
	   color: #a6bc9a;
	   background: transparent;
	}
}

.navbar-toggle {
    transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -webkit-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -moz-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
  -o-transition:all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
}
.minimo .navbar-toggle {
  margin-top: 20px;
}

.navbar-custom {
  font-size:12px;
  border-radius:0;
  margin-bottom:0;
      position: relative;
}

.navbar-custom .navbar-nav > li > a:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.navbar-toggle .icon-bar {
    background: #333;
}
.navbar-toggle { 
    margin-top: 28px;
}
.barra .nav>li {
    text-align: center;
}
.dropdown-menu.services {
    left: -30px !important;
    min-width: 200px;
    background-color: white;
}
.dropdown-menu {
    left: -40px !important;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    min-width: 215px;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}
.dropdown-menu > li > a {
    padding: 10px 20px;
    font-weight: 300;
    color: #747474;
}
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-color: none
}

@media only screen and (max-width: 767px) {
  a.navbar-brand {
      margin: 0 15px !important;
  }
  .navbar-toggle {
	    margin-top: 35px;
	    margin-right: 30px;
	}
	.navbar-nav {
	    margin: 5px 15px 0;
	}
  .nav > li > a:hover, .nav > li > a:focus {
      text-decoration: none;
      background-color: transparent;
  }
  ul.dropdown-menu.services, ul.dropdown-menu.location {
      display: none !important;
  }
  .open ul.dropdown-menu.services, .open ul.dropdown-menu.location {
      display: block !important;
  }
}


/* ------------------------ HERO --------------------------- */
.hero-home-1, 
.hero-home-2, 
.hero-home-3, 
.hero-about, 
.hero-location, 
.hero-cargo-support, 
.hero-aircraft, 
.hero-ramp, 
.hero-ground-support,
.hero-baggages, 
.hero-janitorial, 
.hero-passenger,
.hero-privacy, 
.hero-location-kingston, 
.hero-location-montego, 
.hero-location-stthomas {
  background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-home.jpg");
  background-size: cover;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
  min-height: 700px;
  background-position: 50% 50%;
  position: relative;
}

.hero-home-1 {
    left: 0;
    min-height: 100%;
    position: relative;
    top: 0;
    z-index: -2;
    width: 100%;
    padding: 0;

}
.hero-home-2 {
    left: 0;
    min-height: 100%;
    position: relative;
    top: 0;
    z-index: -2;
    width: 100%;
    padding: 0;

}
.hero-home-3 {
    left: 0;
    min-height: 100%;
    position: relative;
    top: 0;
    z-index: -2;
    width: 100%;
    padding: 0;

}

.myhome {
  left:0;
  min-height:100%;
  position:relative;
  top:0;
  z-index:-2;
  width:100%;
  padding:0;
  background-size:cover;
  min-height: 1200px;
  background-position: 50% 50%;
}

/*.gcg-img {
  min-height: 1040px;
  background-position: 90% 100%;
  width: auto;
}*/

@media only screen and (min-width: 601px) {
  .gcg-img {
    min-height: 1040px;
    background-position: 90% 100%;
    width: auto;
  }
}

@media only screen and (max-width: 600px) {
  .hero--home-1 {
    background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-home-1-too-small.jpg");
  }
  .hero-home-2 {
    background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-home-2.jpg");
  }
  .hero-home-3 {
    background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-home-3-too-small.jpg") !important;
  }
  .myhome {
    min-height: 600px;
  }
}

@media only screen and (max-width: 375px) {
  .hero-home-1 {
    background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-home-1-extra-small.jpg");
  }
  .hero-home-2 {
    background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-home-2.jpg");
  }
  .hero-home-3 {
    background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-home-3-extra-small.jpg") !important;
  }
  .myhome {
    min-height: 310px;
  }
}


.hero-home-1 {
  background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-home-1.jpg");
}
.hero-home-2 {
  background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-home-2.jpg");
}
.hero-home-3 {
  background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-home-3.jpg");
}
.hero-about {
  background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-about-us.jpg");
}
.hero-location {
  background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-location-fl.jpg");
}
.hero-location-kingston {
  background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-kingston.jpg");
}
.hero-location-montego {
  background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-montego.jpg");
}
.hero-location-stthomas {
  background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-stthomas.jpg");
}
.hero-cargo-support {
  background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-cargo.jpg");
}
.hero-aircraft {
  background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-aircraft-cleaning.jpg");
}
.hero-ramp {
  background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-ramp.jpg");
}
.hero-ground-support {
  background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-ground.jpg");
}
.hero-baggages {
  background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-baggage.jpg");
}
.hero-janitorial {
  background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-janitorial1.jpg");
}
.hero-passenger {
  background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-passenger.jpg");
}
.hero-privacy {
  background-image: url("https://s3.amazonaws.com/gcg-ground/general/hero-privacy.jpg");
}



/* ------------------------ SECTION PHRASE --------------------------- */
.phrase {
    background-color: #a6bc9a;
    position: absolute;
    padding: 40px 0;
    color: #fff;
    width: 100%;
    bottom: 0;
}
.phrase h1, .phrase h2 {
  margin:0;
  padding:0;
  font-size: 32px;
}
.phrase h2 {
  font-size: 20px;
  text-align: right;
  font-weight: 300;
  line-height: 40px;
}
.phrase.about h2 {
  text-align: center;
}

@media only screen and (max-width: 1199px) {
  .phrase h1 { font-size: 30px; }
  .phrase h2 { font-size: 18px; }
}
@media only screen and (max-width: 991px) {
  .phrase h1, .phrase h2 { text-align: center; margin: 0 0 10px; }
}


/* ------------------------ SECTION SERVICES --------------------------- */
.services {
  background-color: #f9f9f9;
}

.box-services {
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 30px -20px rgba(232,232,232,1);
	-moz-box-shadow: 10px 10px 30px -20px rgba(232,232,232,1);
	box-shadow: 10px 10px 30px -20px rgba(232,232,232,1);
	position: relative;
	overflow: hidden;
	margin-top: 60px;
}
.box-services .wrap-img {
	overflow: hidden;
}
.box-services .wrap-img img {
	transition: transform 0.3s ease-out 0s;
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-moz-transition: -moz-transform 0.3s ease-out 0s;
	-ms-transition: -ms-transform 0.3s ease-out 0s;
	-o-transition: -o-transform 0.3s ease-out 0s;
}
.box-services:hover .wrap-img  img{
	transform: scale(1.1) rotate(1deg);
	-webkit-transform: scale(1.1) rotate(1deg);
	-moz-transform: scale(1.1) rotate(1deg);
	-ms-transform: scale(1.1) rotate(1deg);
	-webkit-filter: brightness(90%); 
}
.box-services .icon {
  overflow: hidden;
}
.box-services .icon i {
  transition: transform 0.3s ease-out 0s;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out 0s;
  -ms-transition: -ms-transform 0.3s ease-out 0s;
  -o-transition: -o-transform 0.3s ease-out 0s;
}
.box-services:hover .icon i {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}
.box-services .text {
	padding: 30px;
	text-align: center;
	position: relative;
}
.box-services .text h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  color: #9c9c9c;
  margin: 15px 0 30px;
}
.box-services .text p {
}
.box-services .text h4,
.box-services .text h4 a,
.box-services .text .btn,
.box-services .text .icon { color: #5aa4ae; }
.box-services .text.green h4,
.box-services .text.green h4 a,
.box-services .text.green .btn,
.box-services .text.green .icon  { color: #45606a; }

.box-services .text h4 a:hover,
.box-services .text.green h4 a:hover { opacity: .7; text-decoration: none; }

.box-services .text .btn {
  border-radius: 26px;
  font-weight: 300;
  padding: 10px 20px;
  font-size: 16px;
  margin: 15px 0 0;
  transition: all 0.2s ease-in;
-webkit-transition: all 0.2s ease-in;
-moz-transition: all 0.2s ease-in;
-o-transition: all 0.2s ease-in;
}
.box-services .text .btn { border: 2px solid #5aa4ae; }
.box-services .text.green .btn  { border: 2px solid #45606a; }
.box-services .text .btn:hover { background-color: #5aa4ae; color: #fff; }
.box-services .text.green .btn:hover  { background-color: #45606a; color: #fff; }


.box-services .text .icon {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    line-height: 92px;
    font-size: 50px;
    margin: -80px auto 0;
    background-color: #fff;
}
.box-services .text .icon { border: 3px solid #5aa4ae; }
.box-services .text.green .icon  { border: 3px solid #45606a; }


@media only screen and (max-width: 520px) {
  .col-xs-6.colMobile { width: 100%; }
  .box-services { width: 80%; margin: 60px auto 0; }
}


.owl-theme .owl-nav {
    margin-top: 30px;
}
.owl-theme .owl-nav [class*="owl-"] {
    padding: 10px 30px;
    background: #5aa4ae;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
    background: #45606a;
}
.owl-dots  { display: none; }



/* ------------------------ SECTION LOCATIONS --------------------------- */
section.location {
  position: relative;
  overflow: hidden;
  padding: 0;
}
.bgGreen {
  padding: 100px 0;
  background-color: #a6bc9a;
  color: #fff;
}
.bgGreen h1, .bgGreen p {
  margin:0;
  padding:0;
}
.bgGreen p {
  color: #fff;
  margin: 20px 0;
}
.bgGreen ul {
    padding: 20px;
    margin:0;
}
.bgGreen ul li a {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 10px;
    text-decoration: none;
}
.maps {
  padding-left: 0;
  padding-right: 0;
  height: 100%
}
.maps iframe {
  width: 100%;
  height: 510px;
}
@media only screen and (max-width: 1133px) {
.maps  iframe { height: 540px;}
}

@media only screen and (max-width: 991px) {
  .bgGreen ul { display: inline-block; }
  .bgGreen ul li { float: left; margin: 0 60px 10px 0; }
  .maps { height: 450px; }
}

/* Inline Editing */
.best_in_place {
  cursor: pointer;
  text-decoration: underline;
}

// .infographic {
//   overflow: hidden;
// }
.infographic {
  transition: transform 0.3s ease-out 0s;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out 0s;
  -ms-transition: -ms-transform 0.3s ease-out 0s;
  -o-transition: -o-transform 0.3s ease-out 0s;
}
.infographic:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05); 
  z-index: 9;
  position: relative;
}
/*.infographic:hover div {
  transform: scale(1.8);
  -webkit-transform: scale(1.8);
  -moz-transform: scale(1.8);
  -ms-transform: scale(1.8); 
  z-index: 9;
  position: relative;
}*/





/* ------------------------ SECTION LATEST NEWS --------------------------- */
.news {
  background-color: #fff;
}
.news h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin: 15px 0;
}

.news a {
  transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	&:hover {
	  color: #555;
	  text-decoration: none;
	}
}


.img-blog {
  background-size: cover;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  min-height: 250px;
}
@media only screen and (max-width: 991px) {
  .img-blog { min-height: 180px;}
}
@media only screen and (max-width: 768px) {
  .img-blog { min-height: 400px;}
}

.news a.btn {
    border-radius: 26px;
    font-weight: 300;
    padding: 10px 20px;
    font-size: 16px;
    margin: 15px 0 0;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    border: 2px solid #a6bc9a;
    &:hover {
      color: #fff;
      background-color: #a6bc9a;
    }
}


img.imgbig {
    width: 100%;
}
.btnBlog {
    background-color: #cadfe1;
    border-color: #cadfe1;
    color: #fff;
    font-size: 12px;
    padding: 6px 20px;
    margin-right: 5px;
    text-transform: uppercase;
    &:hover {
        background-color: #9bbdc0;
        border-color: #9bbdc0;
    }
}
.btnNewBlog {
    float: right;
    margin: -60px 20px 0 0;
    padding: 6px 20px;
}

.btnBlog a, .btnNewBlog a {
    color: #fff;
}

form.join .btnBlog {
    width: 100%;
}

.separator {
    background-color: #ccc;
    height: 1px;
    width: 100%;
    margin: 45px 0;
    display: inline-block;
}

img[usemap], map area{
    outline: none;
}


/* ------------------------ ABOUT - History --------------------------- */

.history p {
  padding: 0 0 0 45px;
  border-left: 3px solid #a6bc9a;
}
.services-box {
    margin-bottom: 30px
}
.services-box .icon {
    background-color: #fff;
    border: 3px solid #a6bc9a;
    border-radius: 50%;
    color: #a6bc9a;
    font-size: 50px;
    height: 100px;
    line-height: 92px;
    margin: 0 auto;
    text-align: center;
    width: 100px;
    overflow: hidden;
}
.services-box .icon i {
  transition: transform 0.3s ease-out 0s;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out 0s;
  -ms-transition: -ms-transform 0.3s ease-out 0s;
  -o-transition: -o-transform 0.3s ease-out 0s;
}
.services-box:hover .icon i {
  transform: scale(1.3) rotate(0deg);
  -webkit-transform: scale(1.3) rotate(0deg);
  -moz-transform: scale(1.3) rotate(0deg);
  -ms-transform: scale(1.3) rotate(0deg);
  -webkit-filter: brightness(90%); 
}







/* ------------------------ LOCATIONS --------------------------- */

.imgTeam {
  width: 80%;
  padding: 5px;
  border: 3px solid #92b0a7;
}

.map {
  height: 400px;
  display: block;
}

.message .form-group {
    margin-bottom: 30px;
}
.message .form-control {
    border: 2px solid #92b0a7;
    color: #666;
    font-size: 16px;
    height: 50px;
    padding: 10px 15px;
}
.message textarea.form-control {
    height: 80px !important;
    resize: none;
}

.message .btn-xl {
    background-color: #cadfe1;
    border-color: #cadfe1;
    color: #fff;
    font-size: 20px;
    height: 80px;
    text-transform: uppercase;
    width: 100%;
}
.message .btn-xl:hover {
    background-color: #9bbdc0;
}

::-webkit-input-placeholder { /* Chrome */
  color: #ccc !important;
  transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc !important;
  transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc !important;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #ccc !important;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0.5;
}

.form-control:focus {
    box-shadow: none;
}

@media only screen and (max-width: 768px) {
  .text-left.center-mobile, .text-right.center-mobile { text-align: center;}
  .text-right.center-mobile { margin: 60px 0 0;}
  .mobile50 { width: 50%;float: left;}
}
@media only screen and (max-width: 520px) {
  .mobile50 { width: 80%;float: inherit; margin: 0 auto 30px;}
}


/* ------------------------ SERVICES --------------------------- */

.carousel-control.left, .carousel-control.right {
    background:transparent;
}
.carousel-control .fa-chevron-left, .carousel-control .fa-chevron-right  {
    position: relative;
    top: 50%;
    font-size: 50px;
    left: -115px;
    text-shadow: none;
    color: #ccc;
}
.carousel-control .fa-chevron-right  {
    right: -115px;
    left: inherit;
}

.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}



/* ------------------------ FOOTER --------------------------- */
footer {
  padding: 75px 0;
  background-color: #45606a;
  color: #fff;
}
footer ul {
    padding: 0px;
    margin:0;
    list-style-type: none;
}
footer ul li {
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 10px;
}
footer ul li a {
    color: #fff;
    text-decoration: none;
    &:hover {
	    color: #fff;
	    text-decoration: underline;
	}
}

footer i.fa {
    font-size: 40px;
    color: #fff;
    margin: 15px 15px 0 0;
}
footer p {
    color: #fff;
}
footer p span {
    font-size: 16px;
}

@media only screen and (max-width: 599px) {
  .col-xs-6.footerMobile { width: 100%; }
  footer ul { text-align: center; }
  .icon-social { width: 210px; margin: 0 auto 30px; }
  footer p { text-align: center; }
}









  .myinfobox {
    position: absolute; 
    width: 55%; 
    height: 91%; 
    background-color: white; 
    top: 5%; 
    z-index: 20;
    border-radius: 10px;
    border: 2px solid #a6bc9a;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .infoboxright {
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .myinfobox h3 {
    font-size: 17px; 
    margin-top: 10px; 
    text-align: left; 
    margin-left: 13px; 
    margin-bottom: 5px;
  }
  .myinfobox p {
    font-size: 15px; 
    color: #929292; 
    margin-top: 0px; 
    margin-bottom: 7px; 
    text-align: left; 
    /*margin-left: 15px; */
    line-height: 18px;
  }
  .myinfobox  div {
    padding: 0;
  }
  .myinfobox .main_name {
    font-weight: bold;
  }
  .myinfobox .main_title {
    font-weight: normal; 
    font-size: 14px; 
    font-style: italic;
  }
  .myinfobox .secondary_name {
    font-weight: bold; 
    font-size: 14px;
  }
  .myinfobox .secondary_title {
    font-weight: normal; 
    font-size: 13px; 
    font-style: italic;
  }
  .myinfobox .fa:before {
    color: #a6bc9a;
  }


@media only screen and (max-width: 991px) {
  .noshowmobile {
    display: none;
  }
  .myinfobox h3 {
    font-size: 11px; 
    margin-top: 5px; 
    margin-left: 5px; 
    margin-bottom: 0px;
  }
  .myinfobox p {
    font-size: 10px; 
    margin-top: 0px; 
    margin-bottom: 7px;
    line-height: 14px;
  }
  .myinfobox .main_title {
    font-size: 9px; 
  }

}


.privacy_policy ol > li {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: #9c9c9c;
  margin: 0px;
}