<!-- Top Admin Navigation  -->
<section class="navigation"> 
<div class="container">
  <div class="row">
    <nav class="navbar navbar-fixed-top navbar-custom barra">
      <div class="container">
        <div class="row">
        <div data-scroll-header class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="https://s3.amazonaws.com/gcg-ground/general/GCG-Ground.png" class="img-responsive center-block"/></a>
        </div>

        <div class="collapse navbar-collapse" id="nav">
            
            <ul class="nav navbar-nav navbar-right">                
                <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="/services">Services</a>
                  <ul class="dropdown-menu services">                
                      <li><a  href="/services-aircraft-cleaning">Aircraft Cleaning</a></li>
                      <li><a  href="/services-baggage-services">Baggage Services</a></li>
                      <li><a  href="/services-cargo-handling">Cargo Handling</a></li>
                      <li><a  href="/services-ground-support">Ground Support</a></li>
                      <li><a  href="/services-janitorial-services">Janitorial Services</a></li>
                      <li><a  href="/services-passenger-services">Passenger Services</a></li>
                      <li><a  href="/services-ramp-handling">Ramp Handling</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">Location</a>
                  <ul class="dropdown-menu">                
                    <% if current_user.try(:admin?) %>
                    <li><a class="secondary" href="/locations/new">Add new location</a></li>
                    <% end %>
                    <% @locations.each do |location| %> 
                      <li><a class="secondary" href="/locations/<%= location.title_for_slug %>"><%= location.name %></a></li>                               
                    <% end %>
                  </ul>
                </li>
                <li><a  href="/about">About</a></li>
                <% if user_signed_in? %>
                  <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                <% end %>
            </ul>
        </div>
        </div>
      </div>
    </nav>
  </div>
</div> 
</section>