<!-- Footer  -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 footerMobile">
        <ul>
          <li><a href="/join-our-team">Join Our Team</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="http://gcggroundservices.com/main.php?s=4" target="_blank">Management</a></li>
          <li><a href="/news">News</a></li>
        </ul>
        <!-- <div class="icon-social">
          <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
        </div> -->
      </div>
      <div class="col-xs-6 footerMobile text-right">
        <p><b>The Caribbean Ground Handler of Choice</b><br>
        <span>2017 GCG - GroundServices<br>
        2525 Embassy Drive Suite #13 Cooper City, FL 33026 USA<br>
        Phone: (954) 438-9855<br>
        Fax: (954) 438-9560<br></span></p>
      </div>
    </div>
  </div>
</footer>